DISCORD_TOKEN=

# EXAMPLE LINK: mongodb+srv://${username}:${password}@${host}/${databaseName}
MONGO_LINK=mongodb://localhost:27017/discordjs-bot-framework

# NODE_ENV is useful for actions you only want to execute in your prod/production runtime
NODE_ENV=dev
